*{
  font-family: Verdana;
}
.header-cards{
  position: relative;
  border: 0.2px solid teal;
  border-radius: 5px;
  background: rgba(255, 125, 100, 0.04);
}

.card {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    text-align: center;
  }

  .card a{
    text-decoration: none;
    padding: 2px;
    margin: auto;
  }

  .card a :hover{
    transform: scale(1.05);
  }
  .contect{
    border: none;
    min-height: 50px;
  }
  #homlink{
    color: crimson;
  }

  .bottom{
    padding-top: 10px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
  }

  .content-block{
    display: grid;
    grid-template-columns: 1fr 5fr;
  }
  
  .content-item{
    background: rgba(0, 0, 255, 0.1);
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
  }

.content-item img{
  padding: 2px;
  display: block;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid black;
  border-radius: 8px;
}
/* .foot{
  padding-top: 5px;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding-bottom: 2.5rem;
} */

#skill{
  color: teal;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  margin-left: 10px;
}

#social-links{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}

.content-item h6{
  font-weight: normal;
  font-size: 14px; 
  text-align: left; 
  word-spacing: 5px; 
  line-height: 2; 
  margin-left: 10px;
}

.social-links :hover {
  transform: scale(1.5);
}